$color-navy: #13294b;
$color-green: #bfd46d;
$color-purple: #dc7fff;
$color-teal: #0d605e;
$color-gray-blue: #6fafc7;
$color-yellow: #ffd125;
$color-salmon: #ee5e5e;
$color-red: #d50032;
$color-blue: #0455a4;
$color-orange: #e84a27;

$color-lighter-gray: #f2f2f2;
$color-border-gray: #e7e7e7;
$color-light-gray: #e8e9ea;
$color-gray: #a5a8aa;
$color-dark-gray: #5e6669;

$font-sans-serif: "Inter", sans-serif;
$font-monospace: "Consolas", "Courier New", monospace;
